<!-- Optional hidden query sequence sent by the server -->
<input type="hidden" id="input_sequence" value="<%= @input_sequence %>">

<!-- We will initialise React on this div -->
<div id="view"></div>
XXXXXX
<!-- JS -->
  <script src="sequenceserver-search.min.js?ver=<%= SequenceServer::VERSION %>"></script>

